:root{
    --btn-background:#62D0DE;
    --btn-background-hover:#FFAA5A;
    --smokeColor:rgba(15, 46, 64, 0.41);
    --call-bg:rgba(62, 150, 252, 0.08);
    --gradedBg:#F7FBFD;
    --smokeHex:#5D6E87;
    --border-color-One:#37D13D;
    --border-color-two:#54C6D4;
    --border-color-three:#358AEC;
    --card-color:#4BC2D0;
    --card-p-color:#4B5563;
    --footer-bg:#0E384F;
    --footer-li:rgba(255, 255, 255, 0.5);
    --rate-color:#FECD1A;
    --black-color:#0D1C31;
    --like-black-color:#0F2E40;
    --mute-color:#9FB1BD;
    --range:#D2FAFF;
    --card-border:#E3E4E5;
    --about-background-color:#F9FAFE;
    --progress1-color:#F23936;
    --progress1-Background-color:rgba(245, 91, 93, 0.1);
    --progress2-color:#14B082;
    --progress2-Background-color:rgba(39, 179, 170, 0.1);
    --progress3-color:#FABB18;
    --progress3-Background-color:rgba(255, 200, 62, 0.1);
    --slider-color:#E0EDF6;
}
*{
    box-sizing: border-box;    
}

body {
    font-family: 'Inter', sans-serif;
}
.Vitetnam-pro{
    font-family: 'Be Vietnam Pro', sans-serif;
}
.slider-bg{
    background-image: url(/images/slider.png) !important;
    
}
.background{
    background-image: url(/images/BG.jpg);
    background-size: cover;
}
.like-black-color{
    color: var(--like-black-color);
}
.btn-bg{
    background-color: var(--btn-background);
}
.blue-color{
    color: var(--btn-background);
}
.blue-border{
    border: 1px solid var(--btn-background);
}
.big-blue-border{
    border: 3px solid var(--btn-background);
}

.btn:hover{
    background-color: var(--btn-background-hover)
}
.textSmoke{
    color: rgba(15, 46, 64, 0.41);;
}
.textSmokeHex{
    color: var(--smokeHex);
}
.Graded{
    background-color:var(--gradedBg);   
}
.border-one{
    border-left: 5px solid var(--border-color-One);   
}
.border-two{
    border-left: 5px solid var(--border-color-two);
}
.border-three{
    border-left: 5px solid var(--border-color-three);
}
.callbg{
    background-color: var(--call-bg);
}
.text-card{
    color: var(--card-color);
}
.card-p-color{
    color: var(--card-p-color);
}
.footer-bg{
    background-color: var(--footer-bg);
}
.border-b-speciel{
    border-bottom: 1px solid var(--btn-background);
}
.footer-li-color{
    color: var(--footer-li);
}
.rate{
    color: var(--rate-color);
}
.black-color{
    color: var(--black-color);
}
.black-borer{
    background-color: var(--black-color);
}
.mute-color{
    color: var(--mute-color);
}
.range-color{
    background-color: var(--range);
}
.card-border-bg{
    background-color: var(--card-border);
}
.radio-color{
    accent-color: var(--btn-background);
}
.white-blue{
    background-color: var(--about-background-color);
}
.prg-1-color{
    background-color: var(--progress1-color);
}
.prg-1-bgcolor{
    background-color: var(--progress1-Background-color);
}
.prg-2-color{
    background-color: var(--progress2-color);
}
.prg-2-bgcolor{
    background-color: var(--progress2-Background-color);
}
.prg-3-color{
    background-color: var(--progress3-color);
}
.prg-3-bgcolor{
    background-color: var(--progress3-Background-color);
}
.slide-color{
    background-color: var(--slider-color);
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
    input.speciel-range::-webkit-slider-thumb {
      width: 15px;
      -webkit-appearance: none;

      height: 15px;
      cursor: ew-resize;
      background: white;
      box-shadow: -805px 0 0 800px #62d0de;
      border-radius: 50%;
    }
  }